# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Crucial for security)
.env
config/config.env
*.env

# Temporary files
tmp/
temp/
*.tmp

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*